/****** Main grid + margin ******/
main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

main section {
  grid-column: 2/3;
}

/* body {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}
main {
  grid-column: 2/3;
} */

/******Img størrelse******/
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Overordnet styling */
h1 {
  font-family: balboa-plus-primary, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

h2 {
  font-family: balboa-plus-fill, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

h3 {
  font-family: balboa-plus-fill, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

h4 {
  font-family: balboa-plus-fill, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
  text-align: center;
}

p {
  font-family: nimbus-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
}

/* Infoside */

#om_os {
  background-image: url(/img/splash.svg);
  width: auto;
  height: 90vh;
  background-size: cover;
  padding: 2rem;
}

#om_os_tekst {
  place-items: center;
  text-align: center;
  padding: 2.5rem;
  background-color: #f1c9c9;
  border: solid black;
  margin-left: 10rem;
  margin-right: 10rem;
}



#om {
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1rem;
}



/* Style af knapper på forside */
.read_more {
  font-family: balboa-plus-fill, sans-serif;
  color: #af7171;
  border: 0.15rem solid #af7171;
  background-color: transparent;
  padding: 0.8rem;
  width: 8rem;
}

.read_more::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  background: #c79f93;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.read_more:hover::after {
  width: 100%;
}

/*BURGERMENU*/
/* Logo og burgermenu opsætning+placering */
/* header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
} */

/* Burgerpadding */
header nav {
  padding-left: 1rem;
}

/* CSS animation på burgermenu */
.hidden {
  opacity: 0;
  transform: translateY(-200px);
}

/* Burgerknap str (inline-block) */
#menuknap {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
}

/* Animationsvarighed - padding liste*/
#menu {
  list-style-type: none;
  transition: transform 0.3s;
  padding-right: 1rem;
}

/* Styling - fjerner understregning */
#menu li a {
  font-family: balboa-plus-fill, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  font-size: clamp(1rem, 1.1vw + 0.5rem, 1.2rem);
}

/* Padding mellem listeelementer */
#menu li {
  padding: 0.3rem;
}

.logo img {
  display: inline;
  width: 7rem;
}

.logo {
  padding-left: 1rem;
}

/* Footer */

footer {
  font-family: balboa-plus-fill, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  padding: 2rem;
}

/********************** INDEX *********************/
/*Splashbillede*/
.index #first_section {
  grid-column: 1/4;

  width: 100%;
  height: 100vh;
  background-image: url(img/splash.svg);
  background-size: cover;
  background-position: 47% 0%;
}

.index #second_section {
  text-align: center;
}

/* index-side */
.index .data_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 0.5rem;
  text-align: center;
}

.index .data_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem;
}

/* box-style */
.index #liste {
  border: solid orange 0.1rem;
  height: 350px;
  margin: 0.8em;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.index #liste:hover {
  border: solid orange 0.3rem;
}

.index #fourth_section {
  display: flex;
  justify-content: center;
}

.index a {
  font-family: balboa-plus-fill, sans-serif;
  color: black;
  text-decoration: none;
}

/********************** DESTINATIONER *********************/
.destinationer #first_section {
  text-align: center;
}
.destinationer .data_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem;
}

/* box-style */
.destinationer #liste {
  border: solid orange 0.1rem;
  height: 350px;
  margin: 0.8em;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.destinationer #liste:hover {
  border: solid orange 0.3rem;
}

/* Style af knapper */
.destinationer .knapper,
.destinationer h2 {
  grid-column: 2/3;
  text-align: center;
}

button {
  font-family: balboa-plus-fill, sans-serif;
  color: black;
  border: 0.1rem solid black;
  background-color: transparent;
  padding: 0.8rem;
  margin: 0.5rem;
  width: 8rem;
  cursor: pointer;
}

button::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

button:hover::after {
  width: 100%;
}

/********************** SINGLEVIEW *********************/
#single_liste,
#tilbage_knap {
  grid-column: 2/3;
}

#single_liste h1 {
  text-align: center;
}

/* ----- */

/* ----- */

/* ----- */

/* ----- */

/* ----- */

/* ----- */

/* ----- */

/* ----- */

/* ----- */

/* ----- */

@media (min-width: 700px) {
  /***********Burgermenu**********/
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateY(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
    padding: 2rem;
  }

  .logo img {
    width: 9rem;
  }

  /* Hover-effekt menu - understregning */
  header nav ul li::after {
    content: "";
    width: 0%;
    height: 0.1rem;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  header nav ul li:hover::after {
    width: 100%;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  #om_os {
    background-image: url(/img/splash.svg);
    width: auto;
    height: 90vh;
    background-size: cover;
    padding: 5rem;
  }

  #om_os_tekst {
    place-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #f1c9c9;
    border: solid black;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 700px) {
  #om_os {
    padding: 1rem;
    margin: 0;
    background-size: cover;
  }

  #om_os_tekst {
    margin: 0.5rem;
    padding: 1rem;
  }
}
